
.content {
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	align-items: center;
	justify-content: space-evenly;
	z-index: 1;
}

.section-left, .section-right {
	display: flex;
	flex-direction: column;
	flex-basis: 50%;
	justify-content: center;
	height: fit-content;
}

.container-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.container-content-block {
	background-color: pink;
}

.image {
	max-width: 80%;
	height: auto;
}