
.content {
	position: fixed;
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
	z-index: 1;
}

.section-left  {
	position: absolute;
	z-index: 2;
	width: 60%;
	opacity: 70%;
	left: 0;
}

.section-right  {
	position: absolute;
	z-index: 1;
	width: 60%;
	right: 0;
}
.right {
	display: flex;
	justify-content: flex-end;
}

.container-content {
	position: relative;
	display: flex;
	flex-direction: column;
	width: fit-content;
}

.container-content-block {
	background-color: pink;
}

.image {
	max-width: 100%;
	height: auto;
}

.Player {
	width: 50%;
	height: 50%;
}